# Banco de dados 
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASS=postgres
DB_NAME=scaffold

# Logs do TypeORM
DB_LOG=true

#secretJWT
JWT_SECRET=secret

#Crypto Login
CRYPTO_KEY=scaffold-crypto-key